.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.nav .link {
  width: 150px;
  padding: 5px;

  background-color: rgb(119, 149, 233);
  border: 1px solid white;
}

.link a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.active {
  font-weight: bold;
}
